html, body {
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Cinzel', serif;
}

.text-kop-red {
  color: #A21D21;
}

.button-kop-red {
  background-color: #A21D21;
  border-color: #A21D21;
}

.text-kop-yellow {
  color: #EFCF6E;
}
